<a href="https://colab.research.google.com/github/PatriciaLucas/TEC-I/blob/main/02_PreProcessamento/02_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<td><img src="https://github.com/Hidrovales/Balanco_Hidrico/blob/main/Figuras/salinas_horizontal_jpg.jpg?raw=true" width="150"></td>

```
Instituto Federal do Norte de Minas Gerais - Campus Salinas
Bacharelado em Sistemas de Informação
Disciplina: Tópicos Especiais em Computação I
Professora: Patrícia Lucas
```

#Pré-processamento de dados

###Exclusão de colunas e linhas

In [28]:
import pandas as pd
#LEITURA DO ARQUIVO 
df_iris = pd.read_csv('https://raw.githubusercontent.com/PatriciaLucas/TEC-I/main/Datasets/Iris.csv')
#MOSTRAR OS DADOS
df_iris.head(3)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [29]:
#EXCLUSÃO DA COLUNA Id
df_iris = df_iris.drop('Id', axis=1)
df_iris.head(3)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa

In [30]:
#EXCLUSÃO DE LINHAS DUPLICADAS
print("NÚMERO DE LINHAS DF ORIGINAL: ", df_iris.shape[0])
df_iris = df_iris.drop_duplicates()
print("NÚMERO DE LINHAS DF SEM DUPLICAÇÕES: ", df_iris.shape[0])

NÚMERO DE LINHAS DF ORIGINAL:  150
NÚMERO DE LINHAS DF SEM DUPLICAÇÕES:  147

In [31]:
#EXCLUSÃO DE LINHAS COM VALORES AUSENTES
print("NÚMERO DE LINHAS DF ORIGINAL: ", df_iris.shape[0])
df_iris = df_iris.dropna()
print("NÚMERO DE LINHAS DF SEM VALORES AUSENTES: ", df_iris.shape[0])

NÚMERO DE LINHAS DF ORIGINAL:  147
NÚMERO DE LINHAS DF SEM VALORES AUSENTES:  147

###Conversão simbólico-numérico

DADOS NOMINAIS

In [124]:
cores = pd.DataFrame(['verde', 'azul', 'preto'], columns=['cor'])
cores.head()

     cor
0  verde
1   azul
2  preto

In [125]:
one_hot = pd.get_dummies(cores['cor'])
cores = cores.drop('cor', axis=1)
cores = cores.join(one_hot)
cores

   azul  preto  verde
0     0      0      1
1     1      0      0
2     0      1      0

DADOS ORDINAIS

In [117]:
tamanhos = pd.DataFrame(['baixo', 'mediano', 'alto'], columns=['tamanho'])
tamanhos.head()

   tamanho
0    baixo
1  mediano
2     alto

In [118]:
tamanhos.loc[tamanhos['tamanho'] == 'baixo'] = 0
tamanhos.loc[tamanhos['tamanho'] == 'mediano'] = 1
tamanhos.loc[tamanhos['tamanho'] == 'alto'] = 2
tamanhos.head()

  tamanho
0       0
1       1
2       2

###Normalização

In [144]:
#LEITURA DO ARQUIVO 
df_iris = pd.read_csv('https://raw.githubusercontent.com/PatriciaLucas/TEC-I/main/Datasets/Iris.csv')
#MOSTRAR OS DADOS
df_iris.head(3)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [145]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(df_iris[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']])
df_iris[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']] = scaler.transform(df_iris[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']])
df_iris.head(3)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1       0.222222      0.625000       0.067797      0.041667  Iris-setosa
1   2       0.166667      0.416667       0.067797      0.041667  Iris-setosa
2   3       0.111111      0.500000       0.050847      0.041667  Iris-setosa